.zippy{
    border:1px solid #ccc;
    padding: 2px
}
.heading{
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
}
.body{
    padding: 20px;
}
.expanded{
    background-color: #f2f2f2;
}