<h1>
  app component
</h1>
<!-- <app-courses></app-courses>
<app-course></app-course>
<app-favorite [isFavorite]="post.isFavorite"></app-favorite>
<br><br>
<input type="text" [(ngModel)]="simpleText">
<br>
{{simpleText | formatText}} -->
<app-favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChange($event)"></app-favorite>
<br>
<hr>
<br>
<bootstrap-panel>
  <ng-container class="heading">Heading</ng-container>
  <div class="body">
    <h3>body text</h3>
    <p>some content</p>
  </div>

</bootstrap-panel>
<br>
<hr>
<br>
<app-like [likesCount]="tweet.likesCount" [isActive]="tweet.isLiked"></app-like>
<br>
<hr>
<br>
<!--ng if-->
<h3>ng if</h3>
<div *ngIf="courses.length >= 1; then courseTemp else nocourseTemp">
  
</div>
<ng-template #courseTemp><div>list of courses</div></ng-template>
<ng-template #nocourseTemp><div>no course yet</div></ng-template>
<br>
<hr>
<br>
<!--ng switch-->
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" [class.active]="viewMode == 'map'" aria-current="page" (click)="viewMode = 'map'">Map view</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [class.active]="viewMode == 'list'" (click)="viewMode = 'list'" >List view</a>
  </li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View</div>
  <div *ngSwitchCase="'list'">List View</div>
  <div *ngSwitchDefault>Otherwise</div>
</div>
<!--ng for-->
<h3>ng For Courses list</h3>
<button (click)="onAdd()">Add</button>
<button (click)="loadCourses()">Load more</button>
<ul>
  <li *ngFor="let course of courseList; index as i; even as isEven; trackBy: trackCourse">
    {{i}}-{{course.name}}<span *ngIf="isEven">(even)</span><button class="btn" (click)="onRemove(course)">remove</button>
  </li>
</ul>
<hr>
<!-- Custom Directive -->
<h3>ng For Courses list</h3>
<input type="text" [appInputNumberFormat]="'uppercase'">
<br><br><br><br><br>
<!-- excercise -->
<h3>Zippy Component</h3>
<app-zippy title="zippy title">
  zippy bbody
</app-zippy>
